<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<title>Mozilla</title>

		<style>

			body {margin:0; padding:0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;} img{line-height:100%; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;} a img{border: none;} #backgroundTable {margin:0; padding:0; width:100% !important; } a, a:link{color:#2A5DB0; text-decoration: underline;} table td {border-collapse:collapse;} span {color: inherit; border-bottom: none;} span:hover { background-color: transparent; }

		</style>

		<style>
	 .scalable-image img{max-width:100% !important;height:auto !important}.button a{transition:background-color .25s, border-color .25s}.button a:hover{background-color:#e1e1e1 !important;border-color:#0976a5 !important}@media only screen and (max-width: 400px){.preheader{font-size:12px !important;text-align:center !important}.header--white{text-align:center}.header--white .header__logo{display:block;margin:0 auto;width:118px !important;height:auto !important}.header--left .header__logo{display:block;width:118px !important;height:auto !important}}@media screen and (-webkit-device-pixel-ratio), screen and (-moz-device-pixel-ratio){.sub-story__image,.sub-story__content{display:block
	 !important}.sub-story__image{float:left !important;width:200px}.sub-story__content{margin-top:30px !important;margin-left:200px !important}}@media only screen and (max-width: 550px){.sub-story__inner{padding-left:30px !important}.sub-story__image,.sub-story__content{margin:0 auto !important;float:none !important;text-align:center}.sub-story .button{padding-left:0 !important}}@media only screen and (max-width: 400px){.featured-story--top table,.featured-story--top td{text-align:left}.featured-story--top__heading td,.sub-story__heading td{font-size:18px !important}.featured-story--bottom:nth-child(2) .featured-story--bottom__inner{padding-top:10px
	 !important}.featured-story--bottom__inner{padding-top:20px !important}.featured-story--bottom__heading td{font-size:28px !important;line-height:32px !important}.featured-story__copy td,.sub-story__copy td{font-size:14px !important;line-height:20px !important}.sub-story table,.sub-story td{text-align:center}.sub-story__hero img{width:100px !important;margin:0 auto}}@media only screen and (max-width: 75%){.footer td{font-size:12px !important;line-height:16px !important}}
		 @media screen and (max-width:600px) {
		table[class="columns"] {
			margin: 0 auto !important;float:none !important;padding:10px 0 !important;
		}
		td[class="left"] {
		 padding: 0px 0 !important;
		</style>

	</head>
	<body>   
	
		<h4>Build properties.</h4>
        <table cellspacing="0" style="border: 2px dashed #FB4314; width: 100%;"> 
           <tr><th>Project name:</th><td >Atom browser</td></tr> 
			<tr><th>Status:</th><td>InstallersAssembled</td></tr> 
			<tr><th>Start time:</th><td>2019-10-10T11:22:33</td></tr> 
			<tr><th>End time:</th><td>2019-10-10T22:33:55</td></tr> 
			<tr><th>Builds reason:</th><td>Git commit</td></tr> 
			<tr><th>Browser Version:</th><td>6.0.0.1</td></tr> 
			<tr><th>Owners:</th><td>[Owner1, Owner2, Owner3, Owner5]</td></tr> 
			<tr><th>Branch:</th><td>atom_2.34</td></tr> 
			<tr><th>Repository:</th><td>git@gitlab.corp.mail.ru:browser/browser.git1</td></tr> 
			<tr><th>Revision:</th><td>8f4b42241b363482450a55cb3c0d2c9d76dc04d6</td></tr> 
			<tr><th>Uuid:</th><td>ad03a85b-24f9-4966-b491-e5d5649a4be6</td></tr> 
			<tr><th>Changes:</th><td>....................</td></tr> 
        </table> 
		
		<h4>Unit tests summary.</h4>
		<table cellspacing="0" style="border: 2px dashed #FB4314; width: 100%;"> 
			<tr><th>Worker: WorkerTesterWin7x32: </th><td align="left"> [Passed: 10001, Failed, : 7, Skipped : 32]</td></tr>
			<tr><th>Worker: WorkerTesterWin7x64: </th><td align="left"> [Passed: 10002, Failed, : 7, Skipped : 64]</td></tr>
			<tr><th>Worker: WorkerTesterWin8x32: </th><td align="left"> [Passed: 10003, Failed, : 8, Skipped : 32]</td></tr>
			<tr><th>Worker: WorkerTesterWin8x64: </th><td align="left"> [Passed: 10004, Failed, : 8, Skipped : 64]</td></tr>
			<tr><th>Worker: WorkerTesterWin10x32: </th><td align="left"> [Passed: 10005, Failed, : 10, Skipped : 32]</td></tr>
			<tr><th>Worker: WorkerTesterWin10x64: </th><td align="left"> [Passed: 10006, Failed, : 10, Skipped : 64]</td></tr>
        </table>       
		
		<h4>Auto tests summary.</h4>
		<table cellspacing="0" style="border: 2px dashed #FB4314; width: 90%;"> 
			<tr><th>Worker: UpdateInstallTesterWin7x64: </th><td align="left"> [Passed: 10001, Failed, : 7]</td></tr>
			<tr><th>Worker: UpdateInstallTesterWin8x64: </th><td align="left"> [Passed: 10002, Failed, : 7]</td></tr>
			<tr><th>Worker: UpdateInstallTesterWin10x64: </th><td align="left"> [Passed: 10003, Failed, : 8]</td></tr>
        </table>    
	</body>
</html>